.App {
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.SuggestionList {
  flex-grow: 1;
  overflow: auto;
  background: url('./background.png') no-repeat fixed center;
}

.Suggestion {
  display: flex;
  align-items: center;
  min-height: 42px;
  padding: 8px;
  margin: 16px;
}

.Suggestion > .description {
  flex-grow: 1;
}

.Suggestion > Button {
  margin: 0 8px;
}

.Form {
  display: flex;
  align-items: center;
  min-height: 80px;
  flex-shrink: 0;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.Form > .TextField {
  flex-grow: 1;
  margin: 0 8px;
}

.Form > Button {
  margin-right: 16px;
}